<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>旺资运营管理后台</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap core CSS -->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap data CSS -->
    <link href="/css/datepicker.css" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="/css/font-awesome.min.css" rel="stylesheet">

    <!-- Pace -->
    <link href="/css/pace.css" rel="stylesheet">

    <!-- Color box -->
    <link href="/css/colorbox/colorbox.css" rel="stylesheet">

    <!-- Morris -->
    <link href="/css/morris.css" rel="stylesheet"/>

    <!-- Endless -->
    <link href="/css/endless.min.css" rel="stylesheet">
    <link href="/css/endless-skin.css" rel="stylesheet">

    <link href="/css/mycss/style.css" rel="stylesheet">
    <!-- Jquery -->
    <script src="/js/jquery-1.10.2.min.js"></script>

    <!-- Bootstrap -->
    <script src="/bootstrap/js/bootstrap.min.js"></script>

    <!-- Bootstrap date -->
    <script src="/js/bootstrap-datepicker.min.js"></script>

    <!-- Colorbox -->
    <script src='/js/jquery.colorbox.min.js'></script>

</head>

<body class="overflow-hidden">
<% include ./common/header %>
<%- body%>
<% include ./common/footer %>
<!-- Le javascript
   ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->



<!-- Modernizr -->
<script src='/js/modernizr.min.js'></script>

<!-- Pace -->
<script src='/js/pace.min.js'></script>

<!-- Popup Overlay -->
<script src='/js/jquery.popupoverlay.min.js'></script>

<!-- Slimscroll -->
<script src='/js/jquery.slimscroll.min.js'></script>

<!-- Cookie -->
<script src='/js/jquery.cookie.min.js'></script>

<!-- Endless -->
<script src="/js/endless/endless.js"></script>

<!-- myjs -->
<script src="/js/myjs/ProvinceAndCityJson.js"></script>
<script src="/js/myjs/index.js"></script>
<script src="/app_js/fin-special.js"></script>
</body>
</html>