<div id="main-container">
    <div id="breadcrumb">
        <ul class="breadcrumb">
            <li><i class="fa fa-home"></i><a href="orderList.html"> 主页</a></li>
            <li class="active">影像归档</li>
        </ul>
    </div><!-- /breadcrumb-->
    <div class="panel panel-default table-responsive" style="    margin: 15px;">
        <div class="panel-heading">
            DJ38482彭浩
            <span class="label label-info pull-right">xxxx</span>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <div class="profile-user-info profile-user-info-striped imArch">
                    <div class="profile-info-row">
                        <div class="profile-info-name"> 征信授权书 </div>
                        <div class="profile-info-value">
                            <div class="gallery-item">
                                <a class="image-wrapper gallery-zoom" href="/img/gallery12.jpg" style="height: 100%;">
                                    <img src="/img/gallery12.jpg" alt="gallery1">
                                    <div class="image-overlay" style="text-align: center;line-height: 60px;">
                                        <div class="image-info">
                                            <span>点击放大查看</span>
                                        </div>
                                    </div>
                                </a><!-- /image-wrapper -->
                            </div><!-- /gallery-item -->
                            <div class="clear" style="margin-bottom: 10px"></div>
                            <label class="label-checkbox inline">
                                <input checked type="checkbox">
                                <span class="custom-checkbox"></span>
                                电子件正确
                            </label>
                            <label class="label-checkbox inline">
                                <input type="checkbox">
                                <span class="custom-checkbox"></span>
                                原件正确
                            </label>
                            <a class="btn btn-success btn-xs">保存</a>
                            <div class="clear"></div>
                        </div>
                        <div class="profile-info-name reloadImg" style="right: 0px;">
                            <a class="btn btn-default btn-sm"><i class="fa fa-cloud-upload"></i> 重新上传</a>
                            <input type="file" name="upload1" />
                        </div>
                    </div>

                    <div class="profile-info-row">
                        <div class="profile-info-name"> 融资租凭合同 </div>
                        <div class="profile-info-value">
                            <div class="gallery-item">
                                <a class="image-wrapper gallery-zoom" href="/img/myimg/template.png" style="height: 100%;">
                                    <img src="/img/myimg/template.png" alt="gallery1">
                                    <div class="image-overlay" style="text-align: center;line-height: 60px;">
                                        <div class="image-info">
                                            <span>点击放大查看</span>
                                        </div>
                                    </div>
                                </a><!-- /image-wrapper -->
                            </div><!-- /gallery-item -->
                            <div class="clear" style="margin-bottom: 10px"></div>
                            <label class="label-checkbox inline">
                                <input type="checkbox">
                                <span class="custom-checkbox"></span>
                                电子件正确
                            </label>
                            <label class="label-checkbox inline">
                                <input type="checkbox">
                                <span class="custom-checkbox"></span>
                                原件正确
                            </label>
                            <a class="btn btn-success btn-xs">保存</a>
                            <div class="clear"></div>
                        </div>
                        <div class="profile-info-name reloadImg" style="right: 0px;">
                            <a class="btn btn-default btn-sm"><i class="fa fa-cloud-upload"></i> 重新上传</a>
                            <input type="file" name="upload1" />
                        </div>
                    </div>
                    <div class="profile-info-row">
                        <div class="profile-info-name"> 银行扣款授权书 </div>
                        <div class="profile-info-value">
                            <div class="gallery-item">
                                <a class="image-wrapper gallery-zoom" href="/img/myimg/template.png" style="height: 100%;">
                                    <img src="/img/myimg/template.png" alt="gallery1">
                                    <div class="image-overlay" style="text-align: center;line-height: 60px;">
                                        <div class="image-info">
                                            <span>点击放大查看</span>
                                        </div>
                                    </div>
                                </a><!-- /image-wrapper -->
                            </div><!-- /gallery-item -->
                            <div class="clear" style="margin-bottom: 10px"></div>
                            <label class="label-checkbox inline">
                                <input type="checkbox">
                                <span class="custom-checkbox"></span>
                                电子件正确
                            </label>
                            <label class="label-checkbox inline">
                                <input type="checkbox">
                                <span class="custom-checkbox"></span>
                                原件正确
                            </label>
                            <a class="btn btn-success btn-xs">保存</a>
                            <div class="clear"></div>
                        </div>
                        <div class="profile-info-name reloadImg" style="right: 0px;">
                            <a class="btn btn-default btn-sm"><i class="fa fa-cloud-upload"></i> 重新上传</a>
                            <input type="file" name="upload1" />
                        </div>
                    </div>

                    <div class="profile-info-row">
                        <div class="profile-info-name"> 还款银行卡正面 </div>
                        <div class="profile-info-value">
                            <div class="gallery-item">
                                <a class="image-wrapper gallery-zoom" href="/img/myimg/template.png" style="height: 100%;">
                                    <img src="/img/myimg/template.png" alt="gallery1">
                                    <div class="image-overlay" style="text-align: center;line-height: 60px;">
                                        <div class="image-info">
                                            <span>点击放大查看</span>
                                        </div>
                                    </div>
                                </a><!-- /image-wrapper -->
                            </div><!-- /gallery-item -->
                            <div class="clear" style="margin-bottom: 10px"></div>
                            <label class="label-checkbox inline">
                                <input type="checkbox">
                                <span class="custom-checkbox"></span>
                                电子件正确
                            </label>
                            <a class="btn btn-success btn-xs">保存</a>
                            <div class="clear"></div>
                        </div>

                    </div>

                    <div class="profile-info-row">
                        <div class="profile-info-name"> 机动车登记证书 </div>
                        <div class="profile-info-value">
                            <div class="gallery-item">
                                <a class="image-wrapper gallery-zoom" href="/img/myimg/template.png" style="height: 100%;">
                                    <img src="/img/myimg/template.png" alt="gallery1">
                                    <div class="image-overlay" style="text-align: center;line-height: 60px;">
                                        <div class="image-info">
                                            <span>点击放大查看</span>
                                        </div>
                                    </div>
                                </a><!-- /image-wrapper -->
                            </div><!-- /gallery-item -->
                            <div class="clear" style="margin-bottom: 10px"></div>
                            <label class="label-checkbox inline">
                                <input type="checkbox">
                                <span class="custom-checkbox"></span>
                                电子件正确
                            </label>
                            <label class="label-checkbox inline">
                                <input type="checkbox">
                                <span class="custom-checkbox"></span>
                                原件正确
                            </label>
                            <a class="btn btn-success btn-xs">保存</a>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="profile-info-row">
                        <div class="profile-info-name"> 车辆合格证 </div>
                        <div class="profile-info-value">
                            <div class="gallery-item">
                                <a class="image-wrapper gallery-zoom" href="/img/myimg/template.png" style="height: 100%;">
                                    <img src="/img/myimg/template.png" alt="gallery1">
                                    <div class="image-overlay" style="text-align: center;line-height: 60px;">
                                        <div class="image-info">
                                            <span>点击放大查看</span>
                                        </div>
                                    </div>
                                </a><!-- /image-wrapper -->
                            </div><!-- /gallery-item -->
                            <div class="clear" style="margin-bottom: 10px"></div>
                            <label class="label-checkbox inline">
                                <input type="checkbox">
                                <span class="custom-checkbox"></span>
                                电子件正确
                            </label>
                            <a class="btn btn-success btn-xs">保存</a>
                            <div class="clear"></div>
                        </div>
                    </div>

                    <div class="profile-info-row">
                        <div class="profile-info-name"> 车辆认购发票 </div>
                        <div class="profile-info-value">
                            <div class="gallery-item">
                                <a class="image-wrapper gallery-zoom" href="/img/myimg/template.png" style="height: 100%;">
                                    <img src="/img/myimg/template.png" alt="gallery1">
                                    <div class="image-overlay" style="text-align: center;line-height: 60px;">
                                        <div class="image-info">
                                            <span>点击放大查看</span>
                                        </div>
                                    </div>
                                </a><!-- /image-wrapper -->
                            </div><!-- /gallery-item -->
                            <div class="clear" style="margin-bottom: 10px"></div>
                            <label class="label-checkbox inline">
                                <input type="checkbox">
                                <span class="custom-checkbox"></span>
                                电子件正确
                            </label>
                            <a class="btn btn-success btn-xs">保存</a>
                            <div class="clear"></div>
                        </div>
                    </div>

                    <div class="profile-info-row">
                        <div class="profile-info-name"> 车辆购置税发票 </div>
                        <div class="profile-info-value">
                            <div class="gallery-item">
                                <a class="image-wrapper gallery-zoom" href="/img/myimg/template.png" style="height: 100%;">
                                    <img src="/img/myimg/template.png" alt="gallery1">
                                    <div class="image-overlay" style="text-align: center;line-height: 60px;">
                                        <div class="image-info">
                                            <span>点击放大查看</span>
                                        </div>
                                    </div>
                                </a><!-- /image-wrapper -->
                            </div><!-- /gallery-item -->
                            <div class="clear" style="margin-bottom: 10px"></div>
                            <label class="label-checkbox inline">
                                <input type="checkbox">
                                <span class="custom-checkbox"></span>
                                电子件正确
                            </label>
                            <a class="btn btn-success btn-xs">保存</a>
                            <div class="clear"></div>
                        </div>
                    </div>

                    <div class="profile-info-row">
                        <div class="profile-info-name"> 车辆保险发票 </div>
                        <div class="profile-info-value">
                            <div class="gallery-item">
                                <a class="image-wrapper gallery-zoom" href="/img/myimg/template.png" style="height: 100%;">
                                    <img src="/img/myimg/template.png" alt="gallery1">
                                    <div class="image-overlay" style="text-align: center;line-height: 60px;">
                                        <div class="image-info">
                                            <span>点击放大查看</span>
                                        </div>
                                    </div>
                                </a><!-- /image-wrapper -->
                            </div><!-- /gallery-item -->
                            <div class="clear" style="margin-bottom: 10px"></div>
                            <label class="label-checkbox inline">
                                <input type="checkbox">
                                <span class="custom-checkbox"></span>
                                电子件正确
                            </label>
                            <a class="btn btn-success btn-xs">保存</a>
                            <div class="clear"></div>
                        </div>
                    </div>

                    <div class="profile-info-row">
                        <div class="profile-info-name"> 车辆保险合同 </div>
                        <div class="profile-info-value">
                            <div class="gallery-item">
                                <a class="image-wrapper gallery-zoom" href="/img/myimg/template.png" style="height: 100%;">
                                    <img src="/img/myimg/template.png" alt="gallery1">
                                    <div class="image-overlay" style="text-align: center;line-height: 60px;">
                                        <div class="image-info">
                                            <span>点击放大查看</span>
                                        </div>
                                    </div>
                                </a><!-- /image-wrapper -->
                            </div><!-- /gallery-item -->
                            <div class="clear" style="margin-bottom: 10px"></div>
                            <label class="label-checkbox inline">
                                <input type="checkbox">
                                <span class="custom-checkbox"></span>
                                电子件正确
                            </label>
                            <a class="btn btn-success btn-xs">保存</a>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="profile-info-row">
                        <div class="profile-info-name"> 车辆购车合同 </div>
                        <div class="profile-info-value">
                            <div class="gallery-item">
                                <a class="image-wrapper gallery-zoom" href="/img/myimg/template.png" style="height: 100%;">
                                    <img src="/img/myimg/template.png" alt="gallery1">
                                    <div class="image-overlay" style="text-align: center;line-height: 60px;">
                                        <div class="image-info">
                                            <span>点击放大查看</span>
                                        </div>
                                    </div>
                                </a><!-- /image-wrapper -->
                            </div><!-- /gallery-item -->
                            <div class="clear" style="margin-bottom: 10px"></div>
                            <label class="label-checkbox inline">
                                <input type="checkbox">
                                <span class="custom-checkbox"></span>
                                电子件正确
                            </label>
                            <a class="btn btn-success btn-xs">保存</a>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>

        </div>

    </div><!-- /panel -->
</div><!-- /main-container -->
