<div id="main-container">
	<div id="breadcrumb">
		<ul class="breadcrumb">
			<li><i class="fa fa-home"></i><a href="orderList.html"> 主页</a></li>
			<li class="active">账号管理</li>
		</ul>
	</div><!-- /breadcrumb-->
	<div class="panel panel-default table-responsive" style="    margin: 15px;">
		<div class="panel-heading">
			账号查询
			<span class="label label-info pull-right">79个账户</span>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-md-12 col-sm-12">
					<div class="form-inline no-margin">
						<div class="form-group" style="margin: 5px;">
							省份
							<select id="provice" class="input-sm form-control inline" style="width:130px;">
								<option value="0">请选择省</option>
							</select>
						</div>
						<div class="form-group" style="margin: 5px;">
							城市
							<select id="city" class="input-sm form-control inline" style="width:130px;">
								<option value="0">请选择城市</option>
							</select>
						</div>

						<div class="form-group" style="margin: 5px;">
							分公司
							<select class="input-sm form-control inline" style="width:130px;">
								<option value="0">xxx分公司</option>
							</select>
						</div>
						<div class="form-group" style="margin: 5px;">
							角色
							<select class="input-sm form-control inline" style="width:130px;">
								<option value="0">销售专员</option>
							</select>
						</div>
						<div class="form-group" style="margin: 5px;">
							手机号
							<input type="text" style="width: 130px;" class="form-control input-sm" data-minlength="1" placeholder="手机号">
						</div>
						<div class="form-group" style="margin: 5px;">
							邮箱
							<input type="text" style="width: 130px;" class="form-control input-sm" data-minlength="1" placeholder="邮箱">
						</div>
						<div class="form-group" style="margin: 5px;">
							账号状态
							<select class="input-sm form-control inline" style="width:130px;">
								<option value="0">使用中</option>
								<option value="1">停用</option>
							</select>
						</div>

						<a class="btn btn-default btn-sm">查询</a>
					</div>
				</div><!-- /.col -->
			</div><!-- /.row -->
			<table class="table table-striped" id="responsiveTable" style="margin-top: 15px;">
				<thead>
				<tr>
					<th>角色</th>
					<th>姓名</th>
					<th>手机号</th>
					<th>所属组织</th>
					<th>账号状态</th>
					<th>创建时间</th>
					<th>操作</th>
				</tr>
				</thead>
				<tbody>
				<tr>
					<td>销售专员</td>
					<td>小慢</td>
					<td>1820030485</td>
					<td>xxx分公司</td>
					<td>停用</td>
					<td>2010-01-10 18:12:22</td>
					<td>
						<a href="form_element.html#formModal" data-toggle="modal" class="btn btn-success btn-xs"> <i class="fa fa-edit"></i>编辑</a>
						<a class="btn btn-warning btn-xs"> <i class="fa  fa-times"></i>删除</a>
					</td>
				</tr>
				<tr>
					<td>销售专员</td>
					<td>小慢</td>
					<td>1820030485</td>
					<td>xxx分公司</td>
					<td>停用</td>
					<td>2010-01-10 18:12:22</td>
					<td>
						<a href="form_element.html#formModal" data-toggle="modal" class="btn btn-success btn-xs"> <i class="fa fa-edit"></i>编辑</a>
						<a class="btn btn-warning btn-xs"> <i class="fa  fa-times"></i>删除</a>
					</td>
				</tr>
				<tr>
					<td>销售专员</td>
					<td>小慢</td>
					<td>1820030485</td>
					<td>xxx分公司</td>
					<td>停用</td>
					<td>2010-01-10 18:12:22</td>
					<td>
						<a href="form_element.html#formModal"  data-toggle="modal" class="btn btn-success btn-xs"> <i class="fa fa-edit"></i>编辑</a>
						<a class="btn btn-warning btn-xs"> <i class="fa  fa-times"></i>删除</a>
					</td>
				</tr>

				</tbody>
			</table>
			<div class="panel-footer clearfix">
				<ul class="pagination pagination-xs m-top-none pull-right">
					<li class="disabled"><a href="table.html#">上一页</a></li>
					<li class="active"><a href="table.html#">1</a></li>
					<li><a href="orderList.html#">2</a></li>
					<li><a href="orderList.html#">3</a></li>
					<li><a href="orderList.html#">4</a></li>
					<li><a href="orderList.html#">5</a></li>
					<li><a href="orderList.html#">下一页</a></li>
				</ul>
			</div>
		</div>

	</div><!-- /panel -->


	<!-- /Modal -->
	<div class="modal fade" id="formModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4>创建金融专员账号</h4>
				</div>
				<div class="modal-body">
					<form class="form-horizontal">
						<div class="form-group">
							<label for="inputEmail1" class="col-lg-2 control-label">姓名：</label>
							<div class="col-lg-10">
								<input type="text" class="form-control input-sm" placeholder="请输入姓名">
							</div><!-- /.col -->
						</div>
						<div class="form-group">
							<label for="inputEmail1" class="col-lg-2 control-label">身份证号：</label>
							<div class="col-lg-10">
								<input type="text" class="form-control input-sm" placeholder="请输入身份证号">
							</div><!-- /.col -->
						</div>
						<div class="form-group">
							<label for="inputEmail1" class="col-lg-2 control-label">省份：</label>
							<div class="col-lg-10">
								<select id="provice1" class="input-sm form-control inline">
									<option value="0">请选择省</option>
								</select>
							</div><!-- /.col -->
						</div>
						<div class="form-group">
							<label for="inputEmail1" class="col-lg-2 control-label">城市：</label>
							<div class="col-lg-10">
								<select id="city1" class="input-sm form-control inline">
									<option value="0">请选择城市</option>
								</select>
							</div><!-- /.col -->
						</div>
						<div class="form-group">
							<label for="inputEmail1" class="col-lg-2 control-label">分公司：</label>
							<div class="col-lg-10">
								<select class="input-sm form-control inline">
									<option value="0">请选择</option>
								</select>
							</div><!-- /.col -->
						</div>
						<div class="form-group">
							<label for="inputEmail1" class="col-lg-2 control-label">联系手机：</label>
							<div class="col-lg-10">
								<input type="text" class="form-control input-sm" placeholder="联系手机">
							</div><!-- /.col -->
						</div>
						<div class="form-group">
							<label for="inputEmail1" class="col-lg-2 control-label">联系邮箱：</label>
							<div class="col-lg-10">
								<input type="text" class="form-control input-sm" placeholder="联系邮箱">
							</div><!-- /.col -->
						</div>
						<div class="form-group">
							<label for="inputEmail1" class="col-lg-2 control-label">角色类型：</label>
							<div class="col-lg-10">
								<select id="city1" class="input-sm form-control inline">
									<option value="0">请选择</option>
								</select>
							</div><!-- /.col -->
						</div>
						<div class="form-group text-right">
							<a href="form_element.html#" style="    margin-right: 20px;" data-dismiss="modal" aria-hidden="true" class="btn btn-success">提交</a>
						</div>
					</form>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

</div><!-- /main-container -->
