<!-- Footer
       ================================================== -->
<footer>
   <div class="row">
      <div class="col-sm-6">
                    <span class="footer-brand">
                        <strong class="text-danger">旺资</strong> Admin
                    </span>
         <p class="no-margin">
            &copy; 2013 <strong>旺资 Admin</strong>. ALL Rights Reserved.
         </p>
      </div><!-- /.col -->
   </div><!-- /.row-->
</footer>


<!--Modal-->
<div class="modal fade" id="newFolder">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4>Create new folder</h4>
         </div>
         <div class="modal-body">
            <form>
               <div class="form-group">
                  <label for="folderName">Folder Name</label>
                  <input type="text" class="form-control input-sm" id="folderName" placeholder="Folder name here...">
               </div>
            </form>
         </div>
         <div class="modal-footer">
            <button class="btn btn-sm btn-success" data-dismiss="modal" aria-hidden="true">Close</button>
            <a href="index.html#" class="btn btn-danger btn-sm">Save changes</a>
         </div>
      </div><!-- /.modal-content -->
   </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</div><!-- /wrapper -->

<a href="index.html" id="scroll-to-top" class="hidden-print"><i class="fa fa-chevron-up"></i></a>

<!-- Logout confirmation -->
<div class="custom-popup width-100" id="logoutConfirm">
   <div class="padding-md">
      <h4 class="m-top-none">您确认退出吗?</h4>
   </div>

   <div class="text-center">
      <a class="btn btn-success m-right-sm" href="/logout">退出</a>
      <a class="btn btn-danger logoutConfirm_close">取消</a>
   </div>
</div>