<aside class="fixed skin-6">
    <div class="sidebar-inner scrollable-sidebar">
        <div class="size-toggle">
            <a class="btn btn-sm" id="sizeToggle">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="btn btn-sm pull-right logoutConfirm_open"  href="index.html#logoutConfirm">
                <i class="fa fa-power-off"></i>
            </a>
        </div><!-- /size-toggle -->
        <div class="main-menu">
            <ul>
                <li>
                    <a href="orderList">
                                <span class="menu-icon">
                                    <i class="fa  fa-legal fa-lg"></i>
                                </span>
                                <span class="text">
                                    订单审批
                                </span>
                        <span class="menu-hover"></span>
                    </a>
                </li>
                <li>
                    <a href="imArchiving.html">
                                <span class="menu-icon">
                                    <i class="fa  fa-calendar fa-lg"></i>
                                </span>
                                <span class="text">
                                    影像归档
                                </span>
                        <span class="menu-hover"></span>
                    </a>
                </li>
                <li>
                    <a href="fAccountManage.html">
                                <span class="menu-icon">
                                    <i class="fa  fa-user fa-lg"></i>
                                </span>
                                <span class="text">
                                    金融专员账号
                                </span>
                        <span class="menu-hover"></span>
                    </a>
                </li>
                <li>
                    <a href="wzAccountManage.html">
                                <span class="menu-icon">
                                    <i class="fa   fa-user-md fa-lg"></i>
                                </span>
                                <span class="text">
                                    账号管理
                                </span>
                        <span class="menu-hover"></span>
                    </a>
                </li>
            </ul>

            <div class="alert alert-info">
                欢迎登陆旺资运营管理平台！
            </div>
        </div><!-- /main-menu -->
    </div><!-- /sidebar-inner -->
</aside>